#profile-form {

    .form-group {
        margin-bottom: 12px;
    }
    
    .btn-primary {
        margin-bottom: 12px;
    }
}

.form-change-password {

    .form-group {
        margin-bottom: 12px;
    }

    .btn {
        margin-top: 12px;
    }
}

.form-add-phone-number {

    .btn {
        margin-top: 12px;
    }
}