.app-navbar {
    display: flex;
    background: rgba($color: #e0e0e1, $alpha: 0.8);
    .text-dark {
        color: #8a8a8a !important;
        &:hover {
            color: white !important;
        }
    }
    .container-fluid {
        display: flex;
        justify-content: center;
        width: auto;
    }
    .nav-item {
        margin: 0 16px;
    }
    .navbar-brand {
        color: rgb(128, 128, 128);
        &:hover {
            color: rgb(178, 179, 179);
        }
    }
    .dropdown-toggle {
        border-color: aqua;
        color: white;
    }
}

.categorysidebar {
    ul, li {
        list-style: none;
        padding-left: 10px;
    }
    a {
        text-decoration: none;
        &:hover {
            color: burlywood;
        }
        &.active {
            color: red;
        }
    }
    >ul>li>a {font-weight: bold;}

    h3 {
        text-transform: uppercase;
        font-size: 1.3em;
        border-bottom: 1px solid aquamarine;
        padding-bottom: 10px;
    }
}