@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}
<H1>Giới thiệu về Razor</H1>
<p>
    Razor là một template engine trong .NET, nó là TEMPlATE ENGINE mặc định
    của ASP.NET MVC, có chức năng render html từ các view .cshtml
</p>